<div class="row">
    <div class="song single">
        <img src="{{song.art}}" alt="" style="float:right" />
        <div class="text-container">
            <h2>"{{song.name}}" <span style="font-size: .7em;font-weight: normal;"><a href="/songs/edit/{{song.name}}">Edit</a></span></h2>
            <h4>Album: <span style="text-size: 1em;font-weight: normal;">{{song.album}}</span></h4>
            <h4>Artist: <span style="text-size: 1em;font-weight: normal;"><a href="/artists/{{song.artist}}">{{song.artist}}</a></span></h4>
            <div class='embed-container'>
                <iframe src='https://embed.spotify.com/?uri=spotify:track:{{song.id}}' frameborder='0' allowtransparency='true'></iframe>
            </div>
        </div>
    </div>
</div>
